@model IEnumerable<Business.ViewModels.ProductViewModels.ProductViewModel>

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a> 
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Products</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Filter -->
            <partial name="_PriceFilter" />
            
            <!-- Category Filter -->
            <partial name="_CategoryFilter" />
            
            <!-- Status Filter -->
            <partial name="_StatusFilter" />
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <partial name="_ProductList" model="Model" />
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
