@{
    ViewData["Title"] = "Home Page";
    @* using Business.ViewModels.ProductViewModels; *@

    var products = new List<Business.ViewModels.ProductViewModels.ProductViewModel>
    {
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 1,
            Name = "Product 1",
            Description = "Description for Product 1",
            Price = 19.99m,
            Stock = 10,
            ImageUrl = "/img/product-1.jpg",
            CreatedAt = DateTime.Now
        },
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 2,
            Name = "Product 2",
            Description = "Description for Product 2",
            Price = 29.99m,
            Stock = 5,
            ImageUrl = "/img/product-2.jpg",
    },
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 3,
            Name = "Product 3",
            Description = "Description for Product 3",
            Price = 39.99m,
            Stock = 8,
            ImageUrl = "/img/product-3.jpg",
            CreatedAt = DateTime.Now
        },

        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 4,
            Name = "Product 4",
            Description = "Description for Product 4",
            Price = 49.99m,
            Stock = 2,
            ImageUrl = "/img/product-4.jpg",
            CreatedAt = DateTime.Now
        },

        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 5,
            Name = "Product 5",
            Description = "Description for Product 5",
            Price = 59.99m,
            Stock = 0,
            ImageUrl = "/img/product-5.jpg",
            CreatedAt = DateTime.Now
        },
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 6,
            Name = "Product 6",
            Description = "Description for Product 6",
            Price = 69.99m,
            Stock = 3,
            ImageUrl = "/img/product-6.jpg",
            CreatedAt = DateTime.Now
        },
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 7,
            Name = "Product 7",
            Description = "Description for Product 7",
            Price = 79.99m,
            Stock = 1,
            ImageUrl = "/img/product-2.jpg",
            CreatedAt = DateTime.Now
        },
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 8,
            Name = "Product 8",
            Description = "Description for Product 8",
            Price = 89.99m,
            Stock = 4,
            ImageUrl = "/img/product-8.jpg",
            CreatedAt = DateTime.Now
        },
        new Business.ViewModels.ProductViewModels.ProductViewModel
        {
            Id = 9,
            Name = "Product 9",
            Description = "Description for Product 9",
            Price = 99.99m,
            Stock = 6,
            ImageUrl = "/img/product-9.jpg",
            CreatedAt = DateTime.Now
        },
    };
}

<partial name="_BannerCarousel" />

<partial name="_Featured" />

<partial name="_Categories" />

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent
            Products</span></h2>
    <div class="row px-xl-5">
        @foreach (var product in products)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }
    </div>
</div>
<!-- Products End -->
