@{
    ViewData["Title"] = "Home Page";

    // Create dummy product data

}


<partial name="_BannerCarousel" />

<partial name="_Featured" />




<partial name="_Categories" />

<!-- Products Start -->
@* <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent
            Products</span></h2>
    <div class="row px-xl-5">
        @foreach (var product in products)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }
    </div>
</div> *@
<!-- Products End -->
