
<div class="card product-card flex-row border-0" style="width: 18rem;">
    <img src="@Model.ImageUrl" class="card-img-left product-image w-40 object-fit-cover" alt="@Model.Name" style="width: 40%;">
    <div class="card-body w-60">
        <h5 class="card-title product-name">@Model.Name</h5>
        <p class="card-text product-price">@Model.Price</p>
    </div>
</div>
