@using Business.ViewModels.ProductViewModels

@model Business.ViewModels.ProductViewModels.ProductViewModel
<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="d-block w-100"
                style="height: 300px; object-fit:contain; object-position:center;">

            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="">@Model.Name</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>$@Model.Price</h5>
                @if (Model.Price.HasValue )
                {
                    <h6 class="text-muted ml-2"><del>$@Model.Price</del></h6>
                }
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
             
            </div>
        </div>
    </div>
</div>
